
.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.error {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  resize: vertical;
  min-height: 150px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submitButton,
.cancelButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton {
  background-color: #4caf50;
  color: white;
}

.submitButton:hover {
  background-color: #45a049;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.cancelButton:hover {
  background-color: #e53935;
}

/* Success notification style */
.successNotification {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.successNotification p {
  margin: 0;
}
